
.content {    
    min-height: 456px;
}

@include media (max-width, 1023px){
    .grid-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.floating_img {

    &.hero_1 {
        left: 0;
    }

    &.hero_1,    
    &.hero_2 {
        top: 40px;
    }    

    &.hero_2,    
    &.hero_2_mob  {
        right: 0;
    }    
    
    &.hero_2_mob { 
        display: none;
    }

    &.arrow_scroll {
        position:  absolute;
        bottom: 0;
        right: 50%;
    }

    @include media (max-width,1600px){

        &.hero_2 {
            text-align: right;
        }
    }

    @include media (max-width,1200px){
        &.hero_1,
        &.hero_2 {
            display: none;
        }

        &.hero_2_mob { 
            position: unset;
            display: block;
            text-align: center;
        }
        &.arrow_scroll {
            display: none;
        }
    }
}

.text-group {
    margin-bottom: 60px;
}

.text_tags {
    font-size: 16px;
    font-family: $body-font-family;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;

    &.light {
        span {
            border-radius: 50px;
            background: #FFFAEF;
            color: $color-primary;    
            padding: 8px 25px;
            &:before {
                content: url(../img/icon/icn-check-dark.svg);      
                left: -8px;
                position: relative;          
            }
        }
    }
    &.dark {
        span {
            border-radius: 50px;
            background: #C3A06D;
            color: $color-white;
            padding: 8px 25px;
            &:before {
                content: url(../img/icon/icn-check-white.svg);              
                left: -8px;
                position: relative;  
            }
        }
    }
}

.button_link {
    color: $color-primary;
    font-weight: 700;

    &:after {
        content: url(../img/icon/icn-arrow-rb.svg);
        right: 0;
        margin-left: 10px;
    }
}

.accordion {

    background: transparent !important;

    .accordion-item {

        .accordion-title {
            font-family: $body-font-family;
            font-size: 28px;
            font-weight: 700;
            line-height: 1.4;
            color: #8B8B8B;
            border: 0;
            border-bottom: 2px solid #CFCFCF;
            padding: 1.7rem 0;
            display: flex;

            span {
                width: 80%;
            }
    
            &:hover,
            &:focus {
                background: transparent;
            }
            
            &:before {
                content: url(../img/icon/icn-chev.svg); 
                transform: rotate(-90deg);
                background: #F2E4C2;
                border-radius: 50%;
                width: 54px;
                height: 54px;
                text-align: center;
                top: 30%;
                transition: all 0.3s ease;
                padding-top: 2px;
            }
        }
    
        .accordion-content {
            background: transparent;
            font-weight: 600;
            border: 0;
            padding: 1.7rem 0;
    
            .highlight {
                color: #b77e31;
            }

            p {
                text-align: justify;
            }
        }
    
        &.is-active {
            > .accordion-title {
                &:before {
                    content: url(../img/icon/icn-chev.svg);
                    transform: rotate(0deg);
                }
            }
        }

        @media (max-width: 1400px)  and (min-width: 1024px) {
            
            .accordion-title {
                font-size: 20px;
                &:before {
                    padding-top: 10px;
                }
            }
        }

        @include media (max-width,1023px) {
            
            .accordion-title {
                font-size: 16px;
                &:before {
                    padding-top: 4px;
                    width: 34px;
                    height: 34px;
                }
            }
            .accordion-content {
                font-size: 14px;
            }
        }

    }

}

