.contact {
    background: #fefaef;
    color: #454545;

    h2 {
        color: #454545;
    }

    p {
        color: #8B8B8B;
        font-weight: 600;
    }   
    .icon_blurbs {
        margin-bottom: 60px;

        .icon_blurb {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
    
            .media_left {
                margin-right: 20px;
            }
    
            .media_body {
    
                h4 {
                    margin-bottom: 0;
                    color: #454545;
                }
        
            }
    
            &.phone {
                
                h4 {
                    a {
                        color: #454545;
                        font-weight: 700;
    
                    }
                }
    
            }
    
        }

    }
    

    .col-form {
        padding-top: 70px;

        h3 {
            font-weight: 400;
            margin-bottom: 45px;
        }
    
    }

    @include media (min-width, 1024px){
        
        p {
            font-size: 18px;
        }

        .icon_blurbs {
            .icon_blurb {
                .media_body {
        
                    h4 {
                        font-size: 18px;
                    }
            
                }
        
                &.phone {
                    
                    h4 {
                        a {
                            font-size: 30px;
        
                        }
                    }
        
                }
        
            }
    
        }

        .col-form {
    
            h3 {
                font-size: 30px;
            }
        
        }
    }
}